/* Section Popular Restaurant ======================================================= */

.section__popular__resto {
  padding: 12rem 6rem;
}

.container__popular__resto {
  display: grid;
  grid-template-columns: 2.75fr 2.2fr 1.1fr 1.1fr;
  column-gap: 2rem;
  /* align-items: stretch; */
}

.heading__popular {
  font-size: 2.8rem;
  font-weight: 600;
  color: #232631;
}

.popular__text {
  /* max-width: 36.7rem; */

  align-self: center;
  margin-right: 6.5rem;
}

/* .popular__image img:not(:first-child) {
    border-radius: 2.4rem;
  } */

.popular__image.medium--size {
  /* width: 50%; */
}

.popular__image img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.4rem;
}

.popular__text p {
  max-width: 36rem;
  padding-right: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #656565;
  margin-bottom: 5.6rem;
  text-align: justify;
  word-spacing: 0px;
}

.btn__view__popular:link,
.btn__view__popular:visited {
  display: inline-block;
  text-decoration: none;
  color: #232631;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 2.8rem;
  background-color: #fdc886;
  border-radius: 1.2rem;
  margin-bottom: 2rem;
  transition: all 0.3s;
}

.btn__view__popular:hover,
.btn__view__popular:active {
  background-color: #c79d69;
}

.popular__image {
  position: relative;
}

.popular__image__info__box {
  position: absolute;
  padding: 2.4rem;
  display: flex;
  align-items: center;
  border: 1px solid lightblue;
  bottom: 2.4rem;
  border-radius: 2.4rem;
  bottom: 2.4rem;
  left: 2.4rem;
  right: 2.4rem;
  background-color: #fff;
}

.popular__image__info__box__text {
}

.popular__image__info__box__text .popular__image__info__star {
  display: flex;
  align-items: center;
  color: #656565;
  font-size: 1.6rem;
  gap: 0.4rem;
}

.popular__image__info__box__text p span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffb800;
  /* margin-right: 0.4rem; */
}

.popular__image__info__box__text p img {
  width: 2.2rem;
  height: 2.2rem;
}

.popular__image__info__name {
  font-size: 1.8rem;
  font-weight: 600;
  color: #232631;
}

.popular__image__info__location {
  display: flex;
  align-items: center;
}

.popular__image__info__location img {
  width: 2.2rem;
  height: 2.2rem;
}

.popular__image__info__box__button {
  margin-left: auto;
}

.popular__image__info__button {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
}
