/* Section Profile ======================================================== */
.section__profile {
  padding: 3.2rem 6rem;
}

.container__profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
}

.profile__info {
  display: flex;
  flex-direction: column;
  /* gap: 3.2rem; */
  /* justify-content: center;
    align-items: flex-start; */
}

.heading__profile__1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #5a4fcf;
  margin-bottom: 0.6rem;
}

.heading__profile__2 {
  font-weight: 600;
  font-size: 3.2rem;
  color: #232631;
}

.profile__info__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3.2rem;
  margin-bottom: 6.2rem;
}

.detail__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2.4rem;
}

.detail__box h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #656565;
  text-transform: uppercase;
}

.detail__box h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #232631;
  text-transform: uppercase;
}

.left__location {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  color: #656565;
}

.details__right__box {
  color: #fdc886;
}
.details__right__box a:link,
.details__right__box a:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fdc886;
  font-size: 1.6rem;
  font-weight: 500;
}

.test {
  color: inherit;
}

.hidden__profile__detail {
  display: none;
}

.btn__view__all__chef:link,
.btn__view__all__chef:visited {
  padding: 1.6rem 2.8rem;
  display: inline-block;
  align-items: center;
  background-color: #fdc886;
  text-decoration: none;
  color: #232631;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s;
  margin-top: auto;
  align-self: flex-start;
}

.btn__view__all__chef:hover,
.btn__view__all__chef:active {
  background-color: #daaa70;
}

.btn__view__all__chef span {
  display: flex;
  align-items: center;
}

.profile__img {
  padding: 0 4rem 0 6rem;
  position: relative;
}

.box__experience {
  position: absolute;
  top: 4rem;
  right: 0;
  padding: 3rem 4.6rem;
  background-color: #fff;
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}

.box__experience h5 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #232631;
}

.box__experience p {
  font-size: 1.6rem;
  color: #656565;
  font-weight: 400;
}

.box__chef__restaurant {
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  padding: 2.4rem;
  background-color: #fff;
  position: absolute;
  bottom: 4rem;
  left: 0;
  border-radius: 2.4rem;
}

.chef__info__box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.chef__info__box .chef__info__head p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #656565;
  text-align: left;
  margin-bottom: 0.4rem;
}

.chef__info__box .chef__info__head h5 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #232631;
}

.chef__info__box a:link,
.chef__info__box a:visited {
  text-decoration: none;
  display: inline-block;
  color: #fdc886;
  font-size: 1.6rem;
  font-weight: 600;
}

.chef__info__box a span {
  display: flex;
  align-items: center;
}
